@model List<ColegioGuaxinim.Application.DTO.ProfessorDTO.ProfessorListaDto>
@{
    ViewData["Title"] = "Professores";
}

<h2>Professores</h2>

<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-outline-primary mt-3"
        href="@Url.Action("Criar", "Professores")">
        <i class="bi bi-plus-circle-fill"></i>
        Cadastrar Novo Professor
    </a>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info">Nenhum professor cadastrado.</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle shadow-sm">
            <thead class="table-purple">
                <tr>
                    <th class="text-start">Professor</th>
                    <th class="text-center" style="width: 150px;">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prof in Model)
                {
                    <tr>
                        <td>@prof.Nome</td>
                        <td class="text-center">
                            <a class="btn btn-outline-primary btn-sm"
                               href="@Url.Action("Lista", "Alunos", new { professorId = prof.Id })">
                                <i class="bi bi-person-lines-fill"></i> Ver Alunos
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
